<div class="messages">
  <aside>
    <div class="avatar is-active" title="Tomster's avatar">T</div>
  </aside>
  <section>
    <h4 class="username">
      Tomster
      <span class="local-time">leur heure locale est 16h56</span>
    </h4>

    <p>
      Hé Zoey, as-tu eu l'occasion de regarder le document 
      de brainstorming EmberConf que je t'ai envoyé ?
    </p>
  </section>

  <aside class="current-user">
    <div class="avatar" title="Zoey's avatar">Z</div>
  </aside>
  <section>
    <h4 class="username">
      Zoey</h4>

    <p>Hey!</p>

    <p>
      J'adore les idées ! Je suis vraiment impatient de voir où va se dérouler 
      l'EmberConf de cette année. Je suis sûr que ce sera la meilleure de toutes. 
      Quelques notes rapides :
    </p>

    <ul>
      <li>
        Je suis tout à fait d’accord sur le fait que nous devrions doubler le budget café cette année 
        (c’est vraiment impressionnant à quel point nous en dépensons !)
      </li>
      <li>
        Un dirigeable faciliterait certainement la recherche du lieu, mais je pense que ce serait un peu hors de notre budget. 
        On pourrait peut-être louer des projecteurs à la place ?
      </li>
      <li>
        Il nous faudra absolument plus de roues de hamster ; 
        la file d'attente de l'année dernière était bien trop longue. 
        Je vais m'y mettre avant la saison des locations. its peak.
      </li>
    </ul>

    <p>Faites-moi savoir quand vous aurez fixé les dates !</p>
  </section>

  <form>
    <label for="message">Message</label>
    <input id="message" />
    <button type="submit">
      Send
    </button>
  </form>
</div>